.frontpage{
  background-image: url("cerce.jpg");
}

.firstpage{
  background-image: url("cerce.jpg");
}

.secondpage{
  background-image: url("nyc.jpg");
}

.thirdpage{
  background-image: url("madrid.jpg");
}

.fourthpage{
  background-image: url("nyc.jpg");
}

.fifthpage{
  background-image: url("madrid.jpg");
}


.frontpage, .firstpage, .secondpage, .thirdpage, .fourthpage, .fifthpage{
  background-size: cover;
  background-repeat: no-repeat;

  font-family: cursive;
  font-weight: 900;
  text-align: center;
  color: white;
}
