html, body{
  height: 100%;
}

body, p, h3{
  margin: 0;
}

p{
  /* background-color: yellow; */
}

.box{
  background-color: lightgray;
  width: 120px;
  height: 150px;

  margin: 30px;
  padding: 20px;
}

.hidden-box{
  visibility: hidden;
  background-color: lightgray;
  width: 120px;
  height: 150px;

  margin: 30px;
  padding: 20px;
}

.special-box{
  position: absolute;
  left: 200px;
  top: 100px;

  background-color: pink;
  width: 120px;
  height: 150px;

  margin: 30px;
  padding: 20px;
}
